{% extends base_template %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="login_wrapper">


<form class="login equal label10" action="{{ action }}" method="post" style="width: 30em;">
<h1>Log in</h1>
{% if message %}
<ul class="errors">
<li>{{ message }}</li>
</ul>
{% endif %}

<div class="f_row">
	<label>user of</label>
	<div class="f_input">
	<select name="provider">
		<option value="google">Google</option>
		<!-- <option value="yandex">Yandex</option> -->
		<!-- option value="openid">OpenID</option>  -->
	</select>
	</div>
</div>
<!--div class="f_row">	
	<label>user name</label>
	<div class="f_input">
	<input class="text openid" type="text" name="oid" /><br/>
	</div>
</div-->
{% if next %}    <input type="hidden" name="next" value="{{ next }}">{% endif %}
<div class="f_row">
	<div class="f_input">   
	<input class="submit" type="submit" value="Come on!">
	</div>
</div>
</form>

</div>
{% endblock %}
